{{!-- <footer class="text-center text-lg-start " style="background-color: rgba(0, 0, 0, 0.2);">
  <!-- Grid container -->
  <div class="container-fluid p-4 fixed-bottom">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Category</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Promo</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Contact Us</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
        <h5 class="text-uppercase mb-0">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">support@carrent.com</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
        <h5 class="text-uppercase">Address</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Jl. Srigadis No.32, Cigereleng, Kec. Regol, Kota Bandung, Jawa Barat
              40253</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
        <h5 class="text-uppercase mb-0">Follow Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark"><img src="../public/img/icons/Facebook.png" alt=""
                class="img-icons">car.rent</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><img src="../public/img/icons/Instagram.png" alt=""
                class="img-icons">@car.rent</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><img src="../public/img/icons/Twitter.png" alt="" class="img-icons">Car
              Rent</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><img src="../public/img/icons/YouTube.png" alt="" class="img-icons">Car Rent
              Cannel</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    Copyright ©
    <a class="text-dark" href="">Car Rent</a>
    2021. All right reserve
  </div>
  <!-- Copyright -->
</footer> --}}
<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>CAR RENT</h2>
        <p class="pr-5 text-white-50">Rent a car at an affordable price and good quality</p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
              class="fa fa-linkedin-square"></i></a></p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0 list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Promo</a></li>
          <li><a href="#">Contacs</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>Jl. Kembar Timur III No.21, Cigereleng, Kec. Regol, Kota Bandung, Jawa Barat 40253</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2021. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>