    <footer class="text-center text-lg-start"  style="background-color: rgba(0, 0, 0, 0.2);">
      <!-- Grid container -->
      <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
            <h5 class="text-uppercase">Menu</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Category</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Promo</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Contact Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
            <h5 class="text-uppercase mb-0">Contact Us</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-dark">support@carrent.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
            <h5 class="text-uppercase">Address</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Jl. Srigadis No.32, Cigereleng, Kec. Regol, Kota Bandung, Jawa Barat 40253</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-footer">
            <h5 class="text-uppercase mb-0">Follow Us</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-dark"><img src="../public/img/icons/Facebook.png" alt="" class="img-icons">car.rent</a>
              </li>
              <li>
                <a href="#!" class="text-dark"><img src="../public/img/icons/Instagram.png" alt="" class="img-icons">@car.rent</a>
              </li>
              <li>
                <a href="#!" class="text-dark"><img src="../public/img/icons/Twitter.png" alt="" class="img-icons">Car Rent</a>
              </li>
              <li>
                <a href="#!" class="text-dark"><img src="../public/img/icons/YouTube.png" alt="" class="img-icons">Car Rent Cannel</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3">
        Copyright © 
        <a class="text-dark" href="">Car Rent</a>
        2021. All right reserve
      </div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>