<div class="container cars-menu">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register-car">Car</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Brand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transaction-list">Transaction</a>
        </li>
        </li>
    </ul>
</div>