{{> header}}
{{> hero}}
{{> navbar}}
<div class="container text-center">
    <div class="row">
        <div class="col bg-transaction">
            <i class="fas fa-check-circle fa-9x"></i>
            <h4 class="fs-2">Checkout Successfuly</h4>
            <p class="fs-4">We have received your transaction successfully. Please wait for confirmation of
                your
                order</p>
        </div>
    </div>
</div>
{{> footer}}