{{> header}}
{{> hero}}
{{> navbar}}

<div class="container">
    <div class="row">
        <h4 class="fs-2">Transaction</h4>
        <div class="col-4">
            <img src="../public/img/jpg/mitsubishi-expander.jpg" alt="" class="img-cars">
        </div>
        <div class="col-8">
            <h4 class="fs-2 text-transaction">Toyota Xpander</h4>
            <p class="fs-3 text-idr">IDR. 700.000</p>
            <p class="fs-4 mt-2">Car Information</p>
            <p class="fs-5 text-desc mb-3">Mitsubishi xpander dibekali mesin 1.5L 104PS dengan dimensi 4475 x 1750 x
                1695
                serta memiliki 4 jumlah silinder.
                Dengan jenis transmisi MT dan jenis penggerak FWD.</p>
            <form action="" class="form-rent">
                <div class="row">
                    <div class="col-6">
                        <label for="inputDateBorrow" class="form-label">Borrow Date</label>
                        <input type="date" class="form-control mt-1" name="borrowDate" id="borrowDate">
                    </div>
                    <div class="col-6">
                        <label for="inputDateBorrow" class="form-label">Return Date</label>
                        <input type="date" class="form-control mt-1 mb-3" name="returnDate" id="returnDate">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="qty" class="form-label mt-1">Quantity</label>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <button class="btn btn-secondary" id="btnMin" name="btn-Min" type="button"> - </button>
                            </div>
                            <div class="col-2">
                                <input type="password" id="inputQty" name="inputQty" class="form-control" readonly>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-secondary" id="btnPlus" name="btnPlus" type="button"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="totalPrice" class="form-label ">Total Price</label>
                        <input type="number" class="form-control" name="totalPrice" id="totalPrice" readonly>
                    </div>
                </div>
                <button class="btn btn-danger btn-rent" type="submit">Checkout</button>
            </form>
        </div>
    </div>
</div>

{{> footer}}